h1{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  color: khaki;
  font-size: 100px;
  font-weight: bold;
  font-family: Helvetica;
}
#dac{
  text-align: center;
}
#brush{
  color: white;
  background-color: mediumspringgreen;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
.blue{
  color: blue;
  font-weight: bold;
}
p{
  font-family: Helvetica;
  font-weight: normal;
}
#frames{
  color: white;
  background-color: lightcoral;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

#paint{
  color: white;
  background-color: skyblue;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
